.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    p-table {
      flex: 1;
      
      .p-datatable {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .p-datatable-wrapper {
        flex: 1;
        overflow-y: auto;
      }
    }
  }
}
